sudo: false
language: python
python:
- '3.6'
install:
- pip install codecov
- pip install tox
- TOX_ENV=${TRAVIS_PYTHON_VERSION/[0-9].[0-9]/py${TRAVIS_PYTHON_VERSION/.}}
script: tox -e $TOX_ENV
after_success:
- codecov
before_cache:
- rm -rf $HOME/.cache/pip/log
cache:
  directories:
  - "$HOME/.cache/pip"
deploy:
  provider: pypi
  user: davidemoro
  password:
    secure: eokMzFe48Y7EaHcjB/n7uik8CFlL+V758Ef+Mv5/JDwxpwW7+y/WDJgpCuYPeGhnWLy39P31kVKW4szNCFe/Fg6e3M9vqtuHrpl+hM/8TKgAPi0yDK6UjAzkRq/KSSG318WRUAZCknKbHi/DPPiiLTgGsUs495mFWBHsuDumxzMQ2XIuNHujdsTHeVBmJPXyz3Ei4Im7rkwXZze/ctkmKfBO4ehLbf0TKcmBBnZ9SDJANIOeCLFABeCbed9uOe6oiwqsVhrnHhQANVVyQoE0m4PKyGnNDQlpsr5r4AMbtUmwgY5D/TPXMxIvu0hCfxeVxXpu9TuQYw4j+aiV3izXbRvo3PgJPxI8XEQWf19cEwWXqmVi0OnwUgKlUA9bQtpJnTtemknLCL9KFl7BhmWYKPCFhOHBLjqG7dt0M9ZDuNzxpnuRkZi5YA2m+IMO2yLDeXhYtPw5praBiZWiLyj76+VmYwqXlGUcM02QOKmhKLkjJA21h2JMb1Jzr9gM2aHvxseTQIBX6hHuva+Ii3ZODlrILrxyhZvSDw0Ock8iiG6bO3HV0fgYPWmG5n+7ee4Xkh8njF5riZ89j9ahZC7Drn2M5CogXsjqZ9zNWn4Kru3YnTXpby4ezgYwV7aMp1fSk0HGQbqx3KaDKxLIV5crxL5p52qIFBMS0Z978VddyWY=
  on:
    tags: true
    branch: master
    distributions: sdist bdist_wheel
    repo: pytest-dev/pytest-play
